{% extends 'mainbase.html' %}
{% load static %}
{% block title %}forgotepassword{% endblock title %}
{% block content %}
<div style=" background-color: azure;
padding: 50px;
margin-top:  15%;
border: 1px dotted black;
border-radius: 25px;
margin-right:450px;
margin-left:450px">
    <form>
        <h1>forgotepassword</h1>
        <div class="row d-block">
            <div class="col">
                <input type="email" class="form-control" placeholder="emailid">
              </div>
              <div class="col" style="padding-top: 15px;">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="col" style="padding-top: 15px;">
                  <input type="password" class="form-control" placeholder="conform Password">
                </div>
            </div>
            <div style="padding-top:15px; padding-left:55px">
                <button type="button" class="btn btn-info"> submit</button>
                  </div>
    </form>
</div>
{% endblock content %}